/*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/

*{ margin: 0; padding: 0;}

body {
	/*To hide the horizontal scroller appearing during the animation*/
	overflow: hidden;
}

#clouds{
	font-size: 10px;
	padding: 100em 0;
	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 20em; height: 6em;
	background: #fff;
	
	border-radius: 20em;
	-moz-border-radius: 20em;
	-webkit-border-radius: 20em;
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 10em; height: 8em;
	position: absolute; top: -1.5em; left: 1em;
	
	border-radius: 10em;
	-moz-border-radius: 10em;
	-webkit-border-radius: 10em;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 12em; height: 12em;
	top: -5.5em; left: auto; right: 1.5em;
}

/*Time to animate*/
.cloud {
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 100em;}
	100% {margin-left: -100em;}
}
@-webkit-keyframes moveclouds {
	0% {margin-left: 100em;}
	100% {margin-left: -100em;}
}
@-webkit-keyframes moveclouds {
	0% {margin-left: 100em;}
	100% {margin-left: -100em;}
}