#clouds {
  padding: 10em;
}
/* Cloud shape */
.cloud {
  width: 20em;
  height: 6em;
  background: #fff;
  border-radius: 20em;
  -moz-border-radius: 20em;
  -webkit-border-radius: 20em;
  position: relative;
}
.cloud:before,
.cloud:after {
  content: '';
  background: #fff;
  width: 10em;
  height: 8em;
  position: absolute;
  top: -15px;
  left: 10px;
  border-radius: 10em;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
.cloud:after {
  width: 12em;
  height: 12em;
  top: -5.5em;
  left: auto;
  right: 1.5em;
}
/*Time to animate*/
.x1 {
  top: -5em;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
}
/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
  top: -13em;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-animation: moveclouds 35s linear infinite;
  -moz-animation: moveclouds 35s linear infinite;
  -o-animation: moveclouds 35s linear infinite;
}
.x3 {
  top: -10em;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-animation: moveclouds 40s linear infinite;
  -moz-animation: moveclouds 40s linear infinite;
  -o-animation: moveclouds 40s linear infinite;
}
.x4 {
  top: -25em;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}
.x5 {
  top: -30em;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-animation: moveclouds 50s linear infinite;
  -moz-animation: moveclouds 50s linear infinite;
  -o-animation: moveclouds 50s linear infinite;
}
@-webkit-keyframes moveclouds {
  0% {
    margin-left: 100em;
  }
  100% {
    margin-left: -100em;
  }
}
@-moz-keyframes moveclouds {
  0% {
    margin-left: 100em;
  }
  100% {
    margin-left: -100em;
  }
}
@-o-keyframes moveclouds {
  0% {
    margin-left: 100em;
  }
  100% {
    margin-left: -100em;
  }
}

* {
  margin: 0;
  padding: 0;
}
body {
  background: black;
  overflow: hidden;
}
.GameCanvas {
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 102.4em;
  height: 57.6em;
  margin-left: -51.2em;
  margin-top: -28.8em;
  overflow: hidden;
  background: -webkit-gradient(linear, center top, center bottom, from(#c9dbe9), to(#ffffff));
  background: -webkit-linear-gradient(#c9dbe9, #ffffff);
  background: -moz-linear-gradient(#c9dbe9, #ffffff);
  background: -o-linear-gradient(#c9dbe9, #ffffff);
  background: -ms-linear-gradient(#c9dbe9, #ffffff);
  background: linear-gradient(#c9dbe9, #ffffff);
}
.browsehappy {
  margin: 0.2em 0;
  background: ?#?ccc?;
  color: #000;
  padding: 0.2em 0;
}

.Player {
  position: absolute;
  top: 0;
  left: 0;
  width: 5em;
  height: 5em;
  background: blue;
  transform: translateZ(0);
}

.Scoreboard {
  position: absolute;
  left: 50%;
  top: 10em;
  height: 30em;
  width: 40em;
  margin-left: -20em;
  box-sizing: border-box;
  background: purple;
  text-align: center;
  -webkit-transform: translate(0, -40em);
  -webkit-transition: -webkit-transform 0.5s;
}
/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
  -webkit-transform: none;
}
.Scoreboard-restart {
  margin-top: 20em;
  font-size: inherit;
  padding: 0.4em 1.5em;
  border: 0.2em solid white;
  background: none;
  cursor: pointer;
}
.Scoreboard-restartText {
  font-family: 'Comic Sans MS', serif;
  font-size: 2.4em;
  color: white;
}

.Titan {
  background-color: black;
  background-size: cover;
  position: absolute;
  left: 80em;
  width: 10em;
  height: 17em;
  border-radius: 10%;
}
.Titan1 {
  webkit-transform: rotate(180deg);
  top: 0;
}
.Titan2 {
  top: 39em;
}
