#clouds {
  padding: 10em;
}
/* Cloud shape */
.cloud {
  width: 20em;
  height: 6em;
  background: #B8B8B8;
  border-radius: 20em;
  -moz-border-radius: 20em;
  -webkit-border-radius: 20em;
  position: relative;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
}
.cloud:before,
.cloud:after {
  content: '';
  background: #B8B8B8;
  width: 10em;
  height: 8em;
  position: absolute;
  top: -15px;
  left: 10px;
  border-radius: 10em;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
.cloud:after {
  width: 12em;
  height: 12em;
  top: -5.5em;
  left: auto;
  right: 1.5em;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
}
/*Time to animate*/
.x1 {
  top: -5em;
  left: 20em;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}
/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
  top: -13em;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-animation: moveclouds 35s linear infinite;
  -moz-animation: moveclouds 35s linear infinite;
  -o-animation: moveclouds 35s linear infinite;
}
.x3 {
  top: -10em;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-animation: moveclouds 40s linear infinite;
  -moz-animation: moveclouds 40s linear infinite;
  -o-animation: moveclouds 40s linear infinite;
}
.x4 {
  top: -25em;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}
.x5 {
  top: -30em;
  left: 10em;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-animation: moveclouds 50s linear infinite;
  -moz-animation: moveclouds 50s linear infinite;
  -o-animation: moveclouds 50s linear infinite;
}
@-webkit-keyframes moveclouds {
  0% {
    margin-left: 100em;
  }
  100% {
    margin-left: -100em;
  }
}
@-moz-keyframes moveclouds {
  0% {
    margin-left: 100em;
  }
  100% {
    margin-left: -100em;
  }
}
@-o-keyframes moveclouds {
  0% {
    margin-left: 100em;
  }
  100% {
    margin-left: -100em;
  }
}

* {
  margin: 0;
  padding: 0;
}
body {
  background: white;
  overflow: hidden;
  font-size: 10px;
}
.GameCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, #163c52 0%, #4f4f47 30%, #c5752d 60%, #b7490f 80%, #2f1107 100%);
  background: -ms-linear-gradient(to bottom, #163c52 0%, #4f4f47 30%, #c5752d 60%, #b7490f 80%, #2f1107 100%);
  background: -moz-linear-gradient(to bottom, #163c52 0%, #4f4f47 30%, #c5752d 60%, #b7490f 80%, #2f1107 100%);
  background: -o-linear-gradient(to bottom, #163c52 0%, #4f4f47 30%, #c5752d 60%, #b7490f 80%, #2f1107 100%);
  background: -webkit-linear-gradient(to bottom, #163c52 0%, #4f4f47 30%, #c5752d 60%, #b7490f 80%, #2f1107 100%);
}
#mutebutton {
  background-image: url('Images/Mute.png');
  top: 1em;
  left: 1em;
  height: 5em;
  width: 5em;
  position: absolute;
  overflow: hidden;
}
#mutemusic {
  background-image: url('Images/mutemusic.png');
  top: 1em;
  left: 6em;
  height: 5em;
  width: 5em;
  position: absolute;
  overflow: hidden;
}
.browsehappy {
  margin: 0.2em 0;
  background: ?#?ccc?;
  color: #000;
  padding: 0.2em 0;
}

#ground {
  position: absolute;
  left: 0%;
  top: 90%;
  width: 100%;
  height: 10em;
  background-image: url("Images/ground.png");
  background-color: green;
  overflow: hidden;
  transform: translateZ(0);
  -webkit-animation: groundmove 0.75s steps(10) infinite;
  -moz-animation: groundmove 0.75s steps(10) infinite;
  -o-animation: groundmove 0.75s steps(10) infinite;
}
@-webkit-keyframes groundmove {
  from {
    background-position: 0em;
  }
  to {
    background-position: -100em;
  }
}
@-moz-keyframes groundmove {
  from {
    background-position: 0em;
  }
  to {
    background-position: -100em;
  }
}
@-o-keyframes groundmove {
  from {
    background-position: 0em;
  }
  to {
    background-position: -100em;
  }
}

.Player {
  position: absolute;
  top: 0;
  left: 0;
  width: 5em;
  height: 7em;
  background: blue;
  -webkit-transform: translatez(0);
  background: url('Images/levi3	.png') no-repeat center center;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 20%;
}

.Scoreboard {
  position: absolute;
  left: 50%;
  top: 5em;
  height: 35em;
  width: 40em;
  margin-left: -20em;
  box-sizing: border-box;
  background-image: url("Images/attack-on-titan.jpg");
  background-position: center;
  text-align: center;
  -webkit-transform: translate(0, -40em);
  -webkit-transition: -webkit-transform 0.5s;
}
/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
  -webkit-transform: none;
}
.Scoreboard-restart {
  margin-top: 20em;
  font-size: inherit;
  padding: 0.4em 1.5em;
  border: 0.2em solid white;
  background: none;
  cursor: pointer;
}
.Scoreboard-endText {
  font-family: 'Comic Sans MS', serif;
  font-size: 3em;
  color: white;
  top: 3em;
  position: relative;
}
.score {
  font-family: 'Comic Sans MS', serif;
  font-size: 3em;
  color: white;
  top: 3em;
  position: relative;
}
.Scoreboard-score {
  font-family: 'Comic Sans MS', serif;
  font-size: 3em;
  color: white;
  top: 3em;
  position: relative;
}
.Scoreboard-restartText {
  font-family: 'Comic Sans MS', serif;
  font-size: 2.4em;
  color: white;
}
#finaltext {
  overflow: hidden;
  font-size: em(30px);
  color: white;
}

.Titan {
  background-color: black;
  background-size: cover;
  position: absolute;
  width: 10em;
  height: 40em;
  border-radius: 10%;
}
.T1 {
  top: 0em;
  left: 0em;
  webkit-transform: rotate(180deg);
}
.T2 {
  top: 0em;
  left: 0em;
}
.T3 {
  background-color: green;
  top: 0em;
  left: 0em;
  webkit-transform: rotate(180deg);
}
.T4 {
  background-color: blue;
  left: 0em;
  top: 0em;
}
