.Player {
    position: absolute;
    top: 0;
    left: 0;
    width: 5em;
    height: 7em;
    background: blue;
    transform: translateZ(0);
    background-position: center;
   background: url('Images/levi3.png') no-repeat center center; 
   background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 20%;
}


