.Titan {
    //tok þetta ur því titaninn er eh failaður...
	background-image: url("Images/titansOne.png");
    background-size: cover;
    background-color: black;

	position: absolute;
    

    width: 10em;
    height: 19em;
    border-radius: 10%;
}


.T1 {
    webkit-transform: rotate(180deg);
    left: 50em;
    
}

.T2 {
    top: 39em;
    left: 50em;

}


.T3 {
    left: 80em;
    width: 10em;
    webkit-transform: rotate(180deg);
    top: 0;
    
}

.T4 {
    left: 80em;
    width: 10em;
    top: 39em;
    

}

// .TitanMixIn(@time) {
    
//     -webkit-animation: movetitans @time linear infinite;
//     -moz-animation: movetitans @time linear infinite;
//     -o-animation: movetitans @time linear infinite;
// }

// //Start the process
// @-webkit-keyframes movetitans {
//     0% {margin-left: 100em;}
//     100% {margin-left: -100em;}
// }
// @-moz-keyframes movetitans {
//     0% {margin-left: 100em;}
//     100% {margin-left: -100em;}
// } 
// @-o-keyframes movetitans {
//     0% {margin-left: 100em;}
//     100% {margin-left: -100em;}
// }
