.Titan {
    //tok þetta ur því titaninn er eh failaður...
	//background-image: url("Images/inTheWallTitan.png");
    background-color: black;
    background-size: cover;
    // background-color: black;
	position: absolute;
    width: 10em;
    height: 40em;
    border-radius: 10%;
}


.T1 {
    top: 0em;
    left: 0em;
    webkit-transform: rotate(180deg);
}

.T2 {
    top: 0em;
    left: 0em;
}

.T3 {
    background-color: green;
    top: 0em;
    left: 0em;
    webkit-transform: rotate(180deg);
}

.T4 {
    background-color: blue;
    left: 0em;
    top: 0em;
}

// }

// .TitanMixIn(@time) {
    
//     -webkit-animation: movetitans @time linear infinite;
//     -moz-animation: movetitans @time linear infinite;
//     -o-animation: movetitans @time linear infinite;
// }

// //Start the process
// @-webkit-keyframes movetitans {
//     0% {margin-left: 100em;}
//     100% {margin-left: -100em;}
// }
// @-moz-keyframes movetitans {
//     0% {margin-left: 100em;}
//     100% {margin-left: -100em;}
// } 
// @-o-keyframes movetitans {
//     0% {margin-left: 100em;}
//     100% {margin-left: -100em;}
// }
